* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
.layout {
  height: 400%;
  width: 100%;
  background-color: black;
  color: rgb(227, 227, 227);
  border: 10px;
  margin: auto;
  text-align: center;
  /* position: fixed; */

}
.card{
  height: 100px;
  width: auto; 
  padding: 20px;
  background-color: rgb(99, 9, 9);
  color: rgb(227, 227, 227);
  border: 10px;
  /* margin: auto; */
  padding-left: 600px;
  margin-top: 10px;
  position: relative;
  left: 90px;
  right: 100px;
}
.card2{
  height: 100px;
  width: auto; 
  padding: 20px;
  background-color: rgb(99, 9, 9);
  color: rgb(227, 227, 227);
  border: 10px;
  /* margin: auto; */
  padding-left: 600px;
  margin-top: 10px;
  position: relative;
  left: 0px;
  right: 100px;

}
.layout2{
  height: 400%;
  width: 100%;
  background-color: black;
  color: rgb(227, 227, 227);
  border: 10px;
  margin: auto;
  text-align: center;
  position: relative;
  

}
.food{
color:rgb(14, 14, 14);
font-size: larger;
border-radius: 15%;
border-top: 10px;
text-align: center;
padding: 10px;
/* position: relative; */
height: 100px;
}
.food1{
  color: blueviolet;
  background-color: #fff;
  position: absolute;
  /* bottom: 100%; */
  /* left: 100%; */
}



