<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="color-style.css" />
  </head>
  <body>
    <div class="layout">
      <h1>chapter no 15:</h1>
      <h2>layout</h2>
    </div>
    <div class="card">
      <h2>card</h2>
    </div>
    <div class="card2">
      <h1>div 1</h1>
    </div>
    <div class="layout2">
     <h3>favourite food</h3>
     </div>
    <div class="food">
       
        <button class="food food1">pizza</button>
        <button class="food food2">shawrma</button>
        <button class="food food3">pasta</button>
        <button class="food food4" >palao</button>
        <button class="food food5">kahari</button>
        <button class="food food6">potato stick</button>
        <button class="food food7">burger</button>
    </div>
  </body>
</html>

